  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('images/Keyart_ezalor.png') center/cover no-repeat;
  }
  
  .tv-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .game-screen {
    /*width: 50vw;  80% от ширины экрана */
    /*height: 80vh;  80% от высоты экрана */
    width: 600px;
    height: 600px;
    background-color: rgba(85, 150, 247, 0.795);
    border: 20px solid #777;
    border-radius: 15px;
    margin-right: 40px;
    margin-left: 40px;
  }
  
  
  .control-panel {
    width: 500px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:30px;
  }
  
  .table-container {
    flex: 1;
    height: 70vh;
    overflow-y: auto;
  }
  
  #results-table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 0, 0, 0.8);
    border: 5px solid #555;
    border-radius: 10px;
  }
  
  #results-table th, #results-table td {
    padding: 8px; /* Уменьшим отступы в ячейках */
    text-align: center;
    font-size: 14px; /* Уменьшим размер шрифта */
  }
  
  .scroll-bar {
    width: 8px; /* Уменьшим ширину скролл-бара */
    height: 100%; 
    background-color: rgba(43, 0, 255, 0.8);
    border-radius: 5px;
    overflow-y: auto; /* Добавим overflow-y для скроллинга */
  }
  
  .current-damage-wrapper{
    color: coral;
    /* display:flex; */
    /* justify-content:; */
    /* justify-content: center; */
    /* align-items:start; */
    margin:0;
    text-align: left;
  }
  
  .current-damage-text{
    margin: 0;
  }

  .current-damage{
    margin: 0;
    /* text-align: center; */
  }
  
  .username{
   color: black;
   margin-top: 100px;
  }

  .username-set{
    display:flex;
    justify-content: row;
    margin-bottom: 30px;
  }

  .username-set-button{
    margin-left: 15px;
  }

  .info-wrapper{
    margin: 0 40px 10px;
    color: coral;
    display: flex;
    justify-content: space-between;
  }

  .current-score-text{
    margin: 0;
  }

  .current-score{
    margin: 0;
  }

  .timer-text{
    margin: 0;
  }

  .timer{
    margin: 0;
  }

  #results-table th, #results-table td {
    border: 1px solid black;
    border-collapse: collapse;
}


.notify-text{
  background-color: bisque;
}

